body {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    /* font-family: "Roboto", sans-serif; */
    box-sizing: border-box;

}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* header section */
.navbar-1 {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
   }

.nav__sec1-menu {
    display: none;
}

.nav__sec1-menu:hover{
    cursor: pointer;
}

.nav__sec1 img {
    height: 40px;
    width: 40px
}

.nav__sec1 {
    display: flex;
    align-items: center;
}

.nav__sec1:hover {
    cursor: pointer;
}

.nav__sec1 h1 {
    padding-left: 5px;
    font-weight: bolder;
}

.nav__sec1-contact {
    display: none;
}

.nav__sec1-contact:hover{
      cursor: pointer;
}

.nav__sec2 {
    display: flex;
    align-items: center;
}

.nav__sec2 h4:hover {
    cursor: pointer;
    background-color: #F2F2F2;
    border-radius: 30px;
}

.nav__sec3 img {
    height: 15px;
}

.nav__sec2 h4 {
    padding: 15px;
}

.nav__sec3 h4:hover,
.nav__sec3 img:hover {
    cursor: pointer;
    background-color: #F2F2F2;
    border-radius: 30px;
    padding: 10px;
}


.nav__sec3 button:hover {
    cursor: pointer;

}


.nav__sec3 {
    display: flex;
    align-items: center;
}

.nav__sec3 p {
    color: rgba(0, 0, 0, 0.149);
    font-size: 25px;
}

.nav__sec3 button {
    background-color: black;
    color: white;
    padding: 12px 15px;
    border-radius: 30px;
    font-weight: bolder;
    margin-left: 20px;
}

.nav__sec3 p {
    margin: 0 10px 0 10px;
}

/* main section */

.categories {
    display: flex;
    margin: 0 13%;
    display: none;
}

.categories h4 {
    padding: 0 15px;
    margin-top: 5px;
}

.main__sec1 {
    font-size: 50px;
    font-weight: 900;
    margin: 40px 0 0;
    text-align: center;
    margin-top: 2em;
}

.main__sec2__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.main__sec2__fixed img,
.main__sec2__item img {
    height: 20px;
    padding: 5px;
}

.main__sec2__fixed {
    border-bottom: 2px solid;
}

.main__sec2__fixed,
.main__sec2__item {
    display: flex;
    align-items: center;
    margin: 25px 10px 0 10px;
}

.main__sec2__scroll {
    display: flex;
}

.main__sec2__item h3:hover,
.main__sec2__fixed:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.567);
}

.main__sec3 {
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.116);
    box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.301);
    border-radius: 30px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 45px;
    margin-bottom: 40px;
}

.main__sec3 img {
    height: 25px;
    margin-left: 15px;
}

.main__sec3-search input {
    border: none;
    font-size: 16px;
    width: 100%;
}

.main__sec3-search input:focus {
    outline: none;
}

.main__sec3-search {
    display: flex;
    width: 90%;
}

.main__sec3-button button {
    background-color: #84E9BD;
    border: 0.5px solid rgba(0, 0, 0, 0.414);
    border-radius: 55px;
    padding: 13px 20px;
    font-weight: bolder;
    font-size: 14px;
}

.main__sec3-button button:hover {
    cursor: pointer;
    background-color: #84e9bdbc;
}

.main__sec4 {
    position: relative;
}

.main__sec4 img {
    height: 500px;
    width: 75%;
    margin: 20px 195px;
    border-radius: 15px;

}

.main__sec4__img-desc {
    position: absolute;
    top: 335px;
    width: 60%;
    left: 260px;
    color: white;
}

.main__sec4__img-desc h1 {
    font-size: 40px;
    margin: 0;
}

.main__sec4__img-desc h3 {
    font-size: 18px;
    margin-top: 2px;
}

.main__sec4__img-desc button {
    background-color: white;
    color: black;
    font-weight: bolder;
    border: none;
    font-size: 14px;
    border-radius: 30px;
    padding: 13px 20px;
}


.main__sec4__img-desc button:hover{
    cursor: pointer;
    background-color: rgba(232, 228, 224, 0.796);
}


.main__sec5,
.main__sec6 {
    height: 420px;
    margin: 20px 185px;
}

.main__sec5__h2,
.main__sec6__h2 {
    margin-bottom: 0;
    padding-left: 10px;

}

.main__sec5 p,
.main__sec6 p {
    margin-top: 10px;
    padding-left: 10px;
}


.main__sec5__container,
.main__sec6__container {
    display: flex;
}

.main__sec5-1 img,
.main__sec6__container img {
    height: 270px;
    width: 270px;
    padding: 8px;
    border-radius: 15px;
}

.main__sec5-1 h1 {
    position: absolute;
    left: 20px;
    bottom: 10px;
    color: white;
    font-size: 28px;
    font-weight: 900;
}

.main__sec5-1 {
    position: relative;
}

.main__sec5-2 {
    position: absolute;
    background-color: white;
    padding: 6px 10px;
    border-radius: 30px;
    border: 1px solid black;
    top: 210px;
    right: 0;
}

.main__sec5 {
    position: relative;
}

.main__sec5-1:hover{
    cursor: pointer;
opacity: 0.8;
}

.main__sec6-1 {
    position: relative;
}

.main__sec6-1 h4 {
    margin: 0;
    width: 265px;
    padding-left: 9px;
    font-size: 16px;
}

.main__sec6-1 p {
    margin-top: 5px;
    width: 265px;
    padding-left: 9px;
    font-size: 14px;
    margin-bottom: 0;
}

.main__sec6-1 span {
    font-size: 12px;
    padding: 0 5px;
}

.main__sec6-1 h5 {
    margin-top: 5px;
    padding-left: 10px;
}

.main__sec6-2 {
    background-color: white;
    padding: 8px 10px 5px 10px;
    border-radius: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.main__sec6-3,
.main__sec7-3 {
    position: absolute;
    background-color: white;
    padding: 6px 10px;
    border-radius: 30px;
    border: 1px solid black;
    top: 130px;
    right: 0;
}

.main__sec6 {
    margin-bottom: 8%;
}

    .main__sec6-1:hover,.main__sec6-2:hover{
         cursor: pointer;
    }

.main__sec6-1 img:hover{
    opacity: 0.8;
}

.main__sec6-2:hover{
  opacity: 0.8;
}

.main__sec7 {
    background-color: #F2F1EC;
    height: 430px;
}

.main__sec7-1 img:hover {
     cursor: pointer;
       opacity: 0.8;
}


.main__sec7-1 h4:hover {
     cursor: pointer;
     text-decoration: underline;
            opacity: 0.7;
}


.main__sec7 h2 {
    padding-top: 25px;
    margin: 20px 190px 0 190px;
    padding-left: 5px;
}

.main__sec7-container img {
    height: 233px;
    width: 366px;
    padding: 5px;
    border-radius: 13px;

}

.main__sec7-container {
    margin: 10px 190px;
    display: flex;
}

.main__sec7-container h4 {
    width: 345px;
    padding-left: 7px;
    font-size: 18px;
}

.main__sec7-1 {
    position: relative;
}

.main__sec7-2 {
    position: absolute;
    background-color: white;
    padding: 8px 10px 5px 10px;
    border-radius: 30px;
    right: 10px;
    top: 15px;
}

.main__sec8 {
    margin: 80px 190px 10px 190px;
}

.main__sec8-1 img:hover,.main__sec9-1 img:hover,.main__sec10-1 img:hover{
    cursor: pointer;
    opacity: 0.8;
}

.main__sec8 h1 {
    font-weight: 800;
    font-size: 26px;
    padding-left: 10px;
}

.main__sec8 h2 {
    font-size: 22px;
    padding-left: 10px;
}

.main__sec8-container {
    display: flex;
}

.main__sec8-1 img {
    height: 270px;
    width: 270px;
    padding: 7px;
    border-radius: 15px;
}

.main__sec8-1 {
    position: relative;
}

.main__sec8-1 h1 {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: white;
    font-size: 28px;
    font-weight: 900;
}

.main__sec9,
.main__sec10 {
    margin: 70px 190px 10px 190px;
}

.main__sec9 h2,
.main__sec10 h2 {
    font-weight: 800;
    font-size: 26px;
    padding-left: 10px;
}

.main__sec9 h2,
.main__sec10 h2 {
    font-size: 22px;
    padding-left: 10px;
}

.main__sec9-container,
.main__sec10-container {
    display: flex;
}

.main__sec9-1 img,
.main__sec10-1 img {
    height: 270px;
    width: 270px;
    padding: 7px;
    border-radius: 15px;
}

.main__sec9-1,
.main__sec10-1 {
    position: relative;
}

.main__sec9-1 h1,
.main__sec10-1 h1 {
    position: absolute;
    left: 20px;
    bottom: 10px;
    color: white;
    font-size: 28px;
    font-weight: 900;
}

.main__sec9-2,
.main__sec10-2 {
    position: absolute;
    background-color: white;
    padding: 8px 10px 5px 10px;
    border-radius: 30px;
    border: 1px solid black;
    right: 0px;
    top: 130px;
}

.main__sec10 p {
    padding-left: 10px;
}

.main__sec11 {
    height: 580px;
    background-color: #F2ECF9;
    margin: 70px 190px 20px 190px;
    display: flex;
}

.main__sec11-1 img {
    width: 536px;
    height: 539px;
    margin: 20px;
}

.main__sec11-2-1 {
    display: flex;
    align-items: center;
    width: 360px;
}

.main__sec11-2-1 img {
    height: 25px;
    padding-right: 10px;
}

.main__sec11-2-1 a {
    text-decoration: underline;
}

.main__sec11-2 button {
    background-color: black;
    color: white;
    padding: 15px 25px;
    border-radius: 30px;
    font-weight: bolder;

}

.main__sec11-2 button:hover{
    cursor: pointer;
opacity:0.7 ;
}

.main__sec11-2 {
    width: 360px;
    margin: 200px auto;
    padding-left: 20px;
}

.main__sec11-2-1 p {
    margin-bottom: 0px;
    /* margin-top: 10px; */
}

.main__sec11-2 h1 {
    margin-bottom: 0;
    margin-top: 5px;
}

.main__sec11-2 p {
    margin-top: 0px;
}

.main__sec12 h2 {
    font-weight: 900;

}

.main__sec12 h3 {
    font-weight: 700;
    font-size: 22px;
    margin-top: 5px;
    padding-right: 10px;
}

.main__sec12-1 {
    display: flex;
}

.main__sec12-2 img {
    height: 203px;
    width: 271px;
    padding: 8px;
    border-radius: 15px;
}

.main__sec12-2 img:hover{
    cursor: pointer;
    opacity: 0.8;
}

.main__sec12-2 h4 {
    margin: 0;
    padding-left: 10px;
    font-size: 18px;
}

.main__sec12-2 h5 {
    margin: 0;
    padding-left: 10px;
}

.main__sec12 {
    margin: 60px 190px;
}


.main__sec13 {
    height: 600px;
    background-color: #FFF7E1;
    display: flex;
}


.main__sec13-1 {
    margin: 120px 0 0 190px;
}

.main__sec13-1 h1 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 0;
}

.main__sec13-1 p {
    font-size: 24px;
    margin-top: 5px;
}

.main__sec13-1 button {
    padding: 10px 16px;
    background-color: black;
    color: white;
    font-weight: bolder;
    border-radius: 30px;
}

.main__sec13-1 button:hover{
cursor: pointer;
opacity: 0.8;
}

.main__sec13-2 img {
    height: 600px;
}



/* footer section */

.footer {
    height: 450px;
    background-color: #F2F2F2;
    margin-top: 4rem;
}

.footer__s1 {
    display: flex;
    margin: 20px 190px;
}

.footer__s1-1,
.footer__s1-2,
.footer__s1-3,
.footer__s1-4,
.footer__s1-5 {
    width: 276px;
    margin-top: 20px;
}

.footer__s1-1 span,
.footer__s1-2 span,
.footer__s1-3 span,
.footer__s1-4 span,
.footer__s1-5 span {
    display: none;
}

.footer__s1-1 h4,
.footer__s1-2 h4,
.footer__s1-3 h4,
.footer__s1-4 h4,
.footer__s1-5 h4 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}

.footer__s1-1 p,
.footer__s1-2 p,
.footer__s1-3 p,
.footer__s1-4 p,
.footer__s1-5 p {
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer__s1-1 p:hover,.footer__s1-2 p:hover,.footer__s1-3 p:hover,.footer__s1-4 p:hover,.footer__s1-5 p:hover{
    text-decoration: underline;
    cursor: pointer;
}


.footer__sec2 {
    display: flex;
    margin: 0px 190px;
    align-items: center;
    /* width: 752px; */
}

.footer__sec2-1 img {
    height: 35px;
    width: 35px;
    margin-top: 0;
    margin-right: 5px;
}

.footer__sec2-2-1 a:hover{
    cursor: pointer;
    opacity: 0.7;
}

.footer__sec2-2 p {
    font-size: 12px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.footer__sec-2-1 p {
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;

}

.footer__sec2-2-1 a {
    width: 690px;
    margin: 0 5px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}

.footer__sec2-3 {
    display: flex;

}

.footer__sec2-3-1 .currency:hover{
    cursor: pointer;
}

.footer__sec2-3-1 .country:hover{
    cursor: pointer;
}

.footer__sec2-3-1 .currency {
    margin: 0 10px;
    border-radius: 10px;
    padding: 8px 5px;
    font-weight: 700;
    font-size: 16px;
    border: 2px solid rgba(92, 88, 88, 0.512);
    width: 170px;
}

.footer__sec2-3-1 .country {
    margin: 0 5px;
    border-radius: 10px;
    padding: 8px 10px;
    font-weight: 700;
    font-size: 16px;
    width: 170px;
    border: 2px solid rgba(92, 88, 88, 0.512);
}

.footer__sec3 {
    display: flex;
    margin: 0 190px;
}

.footer__sec3 p {
    font-size: 12px;
}

.icons i {
    font-size: 20px;
    margin: 0 0 0 15px;
}

.icons {
    width: 330px;
}

.icons i:hover{
    cursor: pointer;
    opacity: 0.7;
}


/* Media queries */

@media screen and (max-width:250px) {
    .main__sec4__img-desc h1 {
        font-size: 10px;
    }

    .main__sec4__img-desc h3 {
        margin-bottom: 0;
        font-size: 14px;
    }

    .main__sec4__img {
        opacity: 0.5px;
    }

    .main__sec4__img-desc button {

        margin-top: 0px;
        padding: 1px 5px;
    }
}

/* ------------------------------------------------------------------------ */

@media screen and (min-width:251px) and (max-width:450px) {
    .main__sec4__img-desc h1 {
        font-size: 24px;
    }

    .main__sec4__img-desc h3 {
        margin-bottom: 0;
    }

    .main__sec4__img-desc button {
        box-shadow: 2px 2px 3px black;
        margin-top: 10px;
        padding: 10px 10px;
    }

    .main__sec4 img{
        height:auto;
    }

    .main__sec11-2-2 h1{
        margin-top: 3em;
    }

}

/* ------------------------------------------------------- */

@media screen and (max-width:767px) {

    .nav__sec1-menu,
    .nav__sec1-contact {
        display: block;
        font-size: 22px;
    }

    .nav__sec2,
    .nav__sec3 {
        display: none;
    }

    .nav__sec1 h1 {
        font-size: 24px;
        font-weight: 700;
    }

    .nav__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        margin: 25px 25px 10px 25px;
    }

    .main__sec1 {
        display: none;
    }


    .main__sec2-1 h3,
    .main__sec2-2 h3,
    .main__sec2-3 h3,
    .main__sec2-4 h3,
    .main__sec2-5 h3,
    .main__sec2-6 h3 {
        font-size: 16px;
    }


    .main__sec2__container {
        display: flex;
        overflow: hidden;
        background: #fff;
    }

    .main__sec2__fixed {
        flex: 0 0 auto;
        z-index: 1;
        padding: 10px 10px 0px 10px;
    }

    .main__sec2__scroll {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .main__sec2__scroll::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari */
    }

    .main__sec2__item {
        flex: 0 0 auto;
        padding: 10px 10px 0px 10px;
    }

    .shadow {
        opacity: 0.5px;
        position: fixed;
        height: 60px;
        width: 55px;
        top: 7rem;
        right: 0;
        border-radius: 30px;
        box-shadow: 2px 2px 5px #ffffff;
        background-color: #fdfdfb77;
    }

    .main__sec3 {
        height: 120px;
        width: auto;
        margin: 25px 20px;
        border-radius: 15px;
        display: block;
        padding: 20px;

    }

    .main__sec3-search {
        display: flex;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .main__sec3-button {
        border-top: 1px solid rgba(0, 0, 0, 0.196);
    }

    .main__sec3 button {
        width: 100%;
        margin-top: 20px;
    }

    .main__sec4 {
        margin: 0;
        position: relative;
    }

    .main__sec4 img {
        width: 100%;
        margin: 20px 0;
        height: 650px;
    }

    .main__sec4__img-desc {
        position: absolute;
        left: 1rem;
        top: 26rem;
    }

    .main__sec4__img-desc {
        width: 89%;
        height: auto;
    }

    .main__sec5 {
        margin-left: 20px;
        margin-right: 0;
        /* height:548px */
        height: 50%;
    }

    .main__sec5__container {
        display: flex;
        gap: 5px;
        overflow-x: auto;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE/Edge */

    }

    .main__sec5__container::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari */
    }

    .main__sec5-1 {
        flex: 0 0 auto;
        border-radius: 10px;
        overflow: hidden;
    }

    .main__sec5-1 img {
        width: 60vw;
        height: auto;
    }

    .main__sec5-2 {
        display: none;
    }

    .main__sec6 {
        margin-left: 20px;
        margin-right: 0;
        margin-top: 3rem;
        height: 100%;
    }

    .main__sec6-1 img {
        height: auto;
        width: 60vw;
    }

    .main__sec6-1,
    .main__sec6-1 h4,
    .main__sec6-1 p,
    .main__sec6-1 span,
    .main__sec6-1 h5 {
        width: 60vw;
    }

    .main__sec6__container {
        gap: 23px;
        overflow-x: auto;
        scrollbar-width: none;
        height: auto;
    }

    .main__sec6-3 {
        display: none;
    }

    .main__sec7,
    .main__sec7 h2 {
        margin-left: 20px;
        margin-right: 0;
    }

    .main__sec7-container {
        overflow-x: auto;
        scrollbar-width: none;
        width: 100%;
        margin-left: 20px;
        margin-right: 0;
        height: auto;
    }

    .main__sec7-1 h4 {
        width: 50vw;
    }

    .main__sec7 {
        height: auto;
    }

    .main__sec7-1 {
        padding: 0 10px 0 0;

    }

    .main__sec7-1 img {
        height: auto;
        width: 58vw;
    }

    .main__sec8,
    .main__sec9,
    .main__sec10 {
        margin-left: 20px;
        margin-right: 0;
    }


    .main__sec8-container,
    .main__sec9-container,
    .main__sec10-container {
        display: flex;
        gap: 5px;
        overflow-x: auto;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE/Edge */

    }

    .main__sec8__container::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari */
    }

    .main__sec8-1,
    .main__sec9-1,
    .main__sec10-1 {
        flex: 0 0 auto;
        border-radius: 10px;
        overflow: hidden;
    }

    .main__sec8-1 img,
    .main__sec9-1 img,
    .main__sec10-1 img {
        width: 50vw;
        height: auto;
    }

    .main__sec8 h1,
    .main__sec9 h1,
    .main__sec10 h1 {
        width: auto;
    }

    .main__sec9-2,
    .main__sec10-2 {
        display: none;
    }

    .main__sec11 {
        margin: 4rem 0;
        height: 70vh;
        position: relative;
    }

    .main__sec11-1 img {
        width: 95vw;
        position: absolute;
        top: 4em;

        height: 45vh;
    }

    .main__sec11-2-1 {
        position: absolute;
        left: 1.5em;
        top: 2em;
    }

    .main__sec11-2-2 {
        position: absolute;
        width: auto;
        bottom: 2em;
        left: 2em;
    }

    .main__sec12 {
        margin-left: 20px;
        position: relative;
        height: auto;
        margin-right: 0;
    }

    .main__sec12 h2 {
        width: auto;
    }

    .main__sec12-1 h3 {
        position: absolute;
        top: 2.5em;
        margin-bottom: 4em;
        width: auto;
        height: auto;
    }

    .main__sec12-2 {
        margin-top: 5em;
        height: auto;
    }

    .main__sec12-2 img {
        height: auto;
        width: 70vw;

    }

    .main__sec12-1 {
        overflow-x: auto;
        scrollbar-width: none;
    }

    .main__sec13 {
        flex-direction: column;
        height: 70vh;
        margin-bottom: 5em;
    }

    .main__sec13-1 {
        margin-top: 10px;
        margin-left: 25px;
        width: 70vw;
    }

    .main__sec13-1 p {
        font-size: 20px;
    }

    .main__sec13-2 {
        height: auto;
    }

    .footer {
        height: auto;
        position: relative;
    }

    .footer__s1 {
        margin-left: 20px;
        flex-direction: column;
    }

    .footer__s1-1 span,
    .footer__s1-2 span,
    .footer__s1-3 span,
    .footer__s1-5 span {
        display: inline;
        margin-right: 10px;
    }

    .footer__s1-1 p,
    .footer__s1-2 p,
    .footer__s1-3 p,
    .footer__s1-5 p {
        display: none;
    }

    .footer__s1-1 h4,
    .footer__s1-2 h4,
    .footer__s1-3 h4,
    .footer__s1-5 h4 {
        white-space: nowrap;
    }

    .footer__s1-4 {
        display: none;
    }

    .footer__s1-3-2 {
        padding-top: 20px;
    }


    .footer__sec2 {
        margin: 20px 20px 10px 20px;
        position: relative;
    }


    .footer__sec2-1,
    .footer__sec2-2 {
        margin-top: 11em;
    }

    .footer__sec2-2 {
        width: 80vw;
    }

    .footer__sec2-3-1 .currency {
        position: absolute;
        top: 0;
        left: 10px;
        width: 90vw;
    }

    .footer__sec2-3-1 .country {
        position: absolute;
        top: 3rem;
        left: 15px;
        width: 90vw;
    }

    .footer__sec3 {

        margin: 10px 20px;
    }

    .icons {
        position: absolute;
        flex-direction: column;
        top: 28em;
        right: -3em;
        margin-left: 5px;

    }

    .footer__sec3 p {
        margin-bottom: 2em;
    }

}

/* ----------------------------------------------- */

@media screen and (min-width:767px) and (max-width:1024px) {

    .nav__sec1-menu,
    .nav__sec1-contact {
        display: block;
        font-size: 22px;
    }


    .nav__sec2,
    .nav__sec3 {
        display: none;
    }

    .nav__sec1 h1 {
        font-size: 24px;
        font-weight: 700;
    }

    .nav__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        margin: 25px 25px 10px 25px;
    }


    .main__sec2__container {
        display: flex;
        overflow: hidden;
        background: #fff;
    }

    .main__sec2__fixed {
        flex: 0 0 auto;
        z-index: 1;
        padding: 10px 5px 0px 10px;
        font-size: 16px;
    }

    .main__sec2__scroll {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;
        -ms-overflow-style: none;
        font-size: 16px;
    }

    .main__sec2__scroll::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari */
    }

    .main__sec2__item {
        flex: 0 0 auto;
        padding-top: 10px;
    }

    .shadow {
        opacity: 0.5px;
        position: fixed;
        height: 60px;
        width: 55px;
        top: 7rem;
        right: 0;
        border-radius: 30px;
        box-shadow: 2px 2px 5px #ffffff;
        background-color: #fdfdfb77;
    }

    .main__sec3 {
        width: 80vw;
        margin-top: 20px;
    }

    .main__sec4 img {
        width: 100vw;
        margin: 20px 0px 20px 0px;
        height: 650px;
    }

    .main__sec4__img-desc {
        position: absolute;
        left: 3em;
        top: 26em;
    }

    .main__sec4__img-desc {
        width: 89%;
        height: auto;
    }

    .main__sec5 {
        margin-left: 20px;
        margin-right: 0;
        /* height:548px */
        height: 50%;
    }

    .main__sec5__container {
        display: flex;
        gap: 5px;
        overflow-x: auto;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE/Edge */
    }


    .main__sec5-1 {
        flex: 0 0 auto;
        border-radius: 10px;
        overflow: hidden;
    }

    .main__sec5-1 img {
        width: 32vw;
        height: auto;
    }

    .main__sec6 {
        margin-left: 20px;
        margin-right: 0;
        margin-top: 3rem;
        height: 100%;
    }

    .main__sec6-1 img {
        height: 20vh;
        width: 32vw;
    }

    .main__sec6-1,
    .main__sec6-1 h4,
    .main__sec6-1 p,
    .main__sec6-1 span,
    .main__sec6-1 h5 {
        width: auto;
    }

    .main__sec6__container {
        gap: 8px;
        overflow-x: auto;
        scrollbar-width: none;
        height: auto;
    }

    .main__sec6-3 {
        display: none;
    }

    .main__sec7 {
        margin-right: 0;
    }

    .main__sec7 h2 {
        margin-left: 20px;
    }

    .main__sec7-container {
        overflow-x: auto;
        scrollbar-width: none;
        width: 100%;
        margin-left: 20px;
        margin-right: 0;
        height: auto;
    }

    .main__sec7-1 h4 {
        width: 40vw;
    }

    .main__sec7 {
        height: 35vh;
    }

    .main__sec7-1 {
        padding: 0 10px 0 0;

    }

    .main__sec7-1 img {
        height: 20vh;
        width: 40vw;
    }

    .main__sec7-2 {
        margin-right: 10px;
    }

    .main__sec8,
    .main__sec9,
    .main__sec10 {
        margin-left: 20px;
        margin-right: 0;
    }

    .main__sec8-container,
    .main__sec9-container,
    .main__sec10-container {
        display: flex;
        gap: 5px;
        overflow-x: auto;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE/Edge */

    }

    .main__sec8__container::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari */
    }

    .main__sec8-1,
    .main__sec9-1,
    .main__sec10-1 {
        flex: 0 0 auto;
        border-radius: 10px;
        overflow: hidden;
    }

    .main__sec8-1 img,
    .main__sec9-1 img,
    .main__sec10-1 img {
        width: 32vw;
        height: auto;
    }

    .main__sec8 h1,
    .main__sec9 h1,
    .main__sec10 h1 {
        width: auto;
    }

    .main__sec9-2,
    .main__sec10-2 {
        display: block;
    }

    .main__sec11 {
        width: 100vw;
        margin-left: 0;
        height: 36vh;
        display: flex;
        align-items: center;
    }

    .main__sec11-1 img {
        height: 33vh;
        width: 45vw;
    }

    .main__sec11-2 {
        width: auto;
        margin-right: 15px;
    }

    .main__sec12 {
        margin: 50px 20px;
        position: relative;
    }

    .main__sec12 h2 {
        font-size: 32px;
    }

    .main__sec12 h2 {
        width: auto;
    }

    /* .main__sec12-1 h3 {
        position: absolute;
        top: 2.5em;
        margin-bottom: 4em;
        width: auto;
        height: auto;
    } */
    /* 
    .main__sec12-1 h3{
width: 30vw;
    } */

    .main__sec12-1 h3 {
        position: absolute;

    }

    .main__sec12-2 {
        margin-top: 5em;
        height: auto;

    }

    .main__sec12-2 img {
        height: auto;
        width: 32vw;

    }

    .main__sec12-1 {
        overflow-x: auto;
        scrollbar-width: none;
    }

    .main__sec13 {
        width: 100vw;
        margin-right: 0;
    }

    .main__sec13-1 {
        margin-left: 20px;
        width: 45vw;

    }

    .main__sec13-2 {
        width: 60vw;
        margin-right: 0;

    }


    .footer {
        height: auto;
        position: relative;
    }

    .footer__s1 {
        margin-left: 20px;
        flex-direction: column;
    }

    .footer__s1-1 span,
    .footer__s1-2 span,
    .footer__s1-3 span,
    .footer__s1-5 span {
        display: inline;
        margin-right: 10px;
    }

    .footer__s1-1 p,
    .footer__s1-2 p,
    .footer__s1-3 p,
    .footer__s1-5 p {
        display: none;
    }

    .footer__s1-1 h4,
    .footer__s1-2 h4,
    .footer__s1-3 h4,
    .footer__s1-5 h4 {
        white-space: nowrap;
    }

    .footer__s1-4 {
        display: none;
    }

    .footer__s1-3-2 {
        padding-top: 20px;
    }


    .footer__sec2 {
        margin: 20px 20px 10px 20px;
        position: relative;
    }


    .footer__sec2-1,
    .footer__sec2-2 {
        margin-top: 11em;
    }

    .footer__sec2-2 {
        width: 80vw;
    }

    .footer__sec2-3-1 .currency {
        position: absolute;
        top: 0;
        left: 10px;
        width: 40vw;
    }

    .footer__sec2-3-1 .country {
        position: absolute;
        top: 0;
        left: 27em;
        width: 40vw;
    }

    .footer__sec3 {

        margin: 10px 20px;
    }

    .icons {
        position: absolute;
        flex-direction: column;
        top: 26em;
        right: -3em;
        margin-left: 5px;

    }

    .footer__sec3 p {
        margin-bottom: 2em;
    }

}

/* ------------------------------------------------------------------------------ */


@media screen and (min-width:1024px) and (max-width:1190px) {

    .navbar-1 {
        justify-content: space-between;
        margin: 0 20px;
         /* position: fixed;
    top:0;
    background-color: white;
    width:100vw;
    z-index: 1;
    border-bottom: 1px solid rgba(134, 130, 130, 0.13); */
    }

    .main__sec3 {
        width: 70vw;
    }

    .main__sec4,
    .main__sec4 img {
        width: 100vw;
        margin: 0;
    }

    .main__sec4__img-desc {
        left: 20px;
        top: 17em;
        width: 90vw;
    }

    .main__sec5,
    .main__sec6 {
        margin: 45px 20px;
        height: auto;
    }

    .main__sec5-1 img {
        width: 23vw;
        height: auto;
    }

    .main__sec6-1 img {
        width: 23vw;
        height: 17vh;
    }

    .main__sec6-1 h4,
    .main__sec6-1 p,
    .main__sec6-1 h5 {
        width: 21vw;
    }

    .main__sec7 {
        margin-top: 4em;
        margin-bottom: 0;
    }

    .main__sec7 h2,
    .main__sec7-container {
        margin: 10px 20px;
        gap: 15px;
    }

    .main__sec7-1 img {
        width: 30vw;
        height: 17vh;
    }

    .main__sec7-1 {
        width: 30vw;
    }

    .main__sec8,
    .main__sec9,
    .main__sec10 {
        margin-top: 5em;
        margin-right: 20px;
        margin-left: 20px;
    }

    .main__sec8-1 img,
    .main__sec8-container,
    .main__sec9-1 img,
    .main__sec9-container,
    .main__sec10-1,
    .main__sec10-container {
        width: 23vw;
        height: auto;
    }

    .main__sec10-1 {
        margin-right: 1em;
    }


    .main__sec11 {
        width: 100vw;
        margin-left: 0;
    }

    .main__sec12 {
        margin-left: 20px;
        margin-right: 20px;
    }

    .main__sec12-1 h3 {
        width: 40vw;
    }

    .main__sec13-2 {
        margin-right: 0;
        width: 60vw;
    }

    .main__sec13-1 {
        margin-left: 30px;
    }

    .footer__s1,
    .footer__sec2,
    .footer__sec3 {
        margin-right: 20px;
        margin-left: 30px;
    }

    .footer__s1-4 {
        display: none;
    }

    .footer__sec3 p {
        width: 40vw;

    }

    .footer__sec3 .icons {
        width: 40vw;
        right: 0;
        position: relative;
        left: 22em;
        margin-top: 1em;
    }

    .footer__sec2-2-1 {
        width: 55vw;
    }

}

/* ---------------------------------------------------------------------- */

@media screen and (min-width:1190px) and (max-width:1499px) {

    .navbar-1 {
        justify-content: space-between;
        margin: 0 6em;
    }


    .main__sec4,
    .main__sec4 img {
        width: 91%;
        height: 48vh;
        margin-right: 4vw;
        margin-left: 4.5vw;

        margin-bottom: 4em;
    }

    .main__sec4__img-desc {
        left: 6em;
        top: 25em;
        width: 75%;

    }

    .main__sec5-2 {
        display: none;
    }

    .main__sec5,
    .main__sec6 {
        margin-left: 8vw;
        margin-right: 4vw;
    }

    .main__sec5 p,
    .main__sec6 p {
        font-size: 18px;
    }

    .main__sec5,
    .main__sec5__container,
    .main__sec5-1 img {
        width: 20vw;
        height: auto;
    }

    .main__sec5__h2,
    .main__sec5 p {
        width: 80vw;
    }

    .main__sec6-3 {
        right: -1em;
    }

    .main__sec6__container,
    .main__sec6-1 img,
    .main__sec6-1 {
        width: 20vw;
        height: auto;
        margin-top: 0;
        gap: 18px;
    }

    .main__sec6-3 {
        top: 6em;
    }

    .main__sec7-container {
        width: 27vw;
        height: auto;
        /* gap: 8px; */
        margin-right: 8vw;
        margin-left: 8vw;

    }

    .main__sec7 h2 {
        margin-left: 5em;
    }

    .main__sec7-1 img {
        width: 27vw;
        height: 20vh;
    }

    .main__sec7-1 h4 {
        width: auto;
    }

    .main__sec6__container,
    .main__sec6-1 img,
    .main__sec6-1 {
        width: 19.9vw;
        height: auto;
        margin-top: 0;
        gap: 18px;
    }

    .main__sec8,
    .main__sec9,
    .main__sec10 {
        margin-left: 8vw;
        margin-right: 3vw;
    }

    .main__sec8-1 img,
    .main__sec8-container,
    .main__sec9 img,
    .main__sec9-container,
    .main__sec10 img,
    .main__sec10-container {
        width: 20vw;
        height: auto;
    }

    .main__sec11 {
        width: 83.5vw;
    }

    .main__sec11,
    .main__sec13-1 {
        margin-left: 8vw;
        margin-right: 3vw;
    }

    .main__sec12 {
        margin-left: 8vw;
        margin-right: 8vw;
    }



    .main__sec13-1 {
        margin-left: 8vw;
        width: 45vw;
    }

    .main__sec13-1 h1,
    .main__sec13-1 p {
        width: 30vw;
    }

    .footer__s1,
    .footer__sec3 {
        margin-left: 8vw;
    }

    .footer__sec2 {
        margin-left: 8vw;
        margin-right: 8vw;
    }

    .icons {
        width: 50%;
    }

}

/* ---------------------------------------------------------------------- */


@media screen and (min-width:1500px) and (max-width:1900px) {

    .main__sec4,
    .main__sec4 img {
        width: 70vw;
        margin: 0 7.5vw;
        height: 60vh;
    }

    .main__sec4__img-desc {
        top: 14em;
        left: 9em;
        width: 60vw;
    }

    .main__sec5 {
        margin-top: 4em;
        margin-left: 7vw;
        margin-right: 7vw;
        height: auto;
    }


    .main__sec5__h2,
    .main__sec5 p {
        margin-left: 7.3vw;
    }

    .main__sec6__h2,
    .main__sec6__p {
        margin-left: 7vw;
    }

    .main__sec5__container,
    .main__sec6__container {
        margin-right: 7.5vw;
        margin-left: 7.3vw;
    }

    .main__sec5-1 img,
    .main__sec6-1 img {
        width: 16.8vw;
        height: auto;
    }

    .main__sec5-2 {
        display: none;
    }

    .main__sec6 {
        margin-left: 7vw;
        margin-right: 7vw;
        margin-top: 2em;
        margin-bottom: 4em;

    }


    .main__sec6-1 h4,
    .main__sec6-1 h5,
    .main__sec6-1 p {
        width: 90%;
    }

    .main__sec7 h2 {
        margin-left: 14.5vw;
    }

    .main__sec7-container {
        margin-left: 14.5vw;
        margin-right: 15vw;
    }

    .main__sec7-1 img {
        width: 23vw;
        height: auto;
    }

    .main__sec7 {
        height: auto;
    }

    .main__sec8 h1,
    .main__sec8 h2 {
        margin-left: 7vw;
    }

    .main__sec8 {
        margin-left: 7vw;
        margin-right: 6vw;
        margin-top: 4em;
    }

    .main__sec8-container {
        margin-left: 7vw;
        margin-right: 7vw;
    }

    .main__sec8-1 img,
    .main__sec9-1 img,
    .main__sec10-1 img {
        width: 16.8vw;
        height: auto;
    }

    .main__sec8-1 h1 {
        margin-left: 0;
    }

    .main__sec9,
    .main__sec10 {
        margin-top: 2.7em;
    }

    .main__sec9 h2 {
        margin-left: 7vw;
    }

    .main__sec9,
    .main__sec9-container,
    .main__sec10,
    .main__sec10-container {
        margin-right: 7vw;
        margin-left: 7vw;
    }

    .main__sec10 h2,
    .main__sec10 p {
        margin-left: 7vw;
    }

    .main__sec11,
    .main__sec12 {
        margin-right: 15vw;
        margin-left: 14.2vw;
    }

    .main__sec13-1 {
        margin-left: 14.2vw;
    }

    .main__sec13-2 {
        margin-right: 5vw;
    }

    .footer__s1,
    .footer__sec2,
    .footer__sec3 {
        margin-right: 16vw;
        margin-left: 14vw;

    }

    .footer__sec3 {
        padding-bottom: 3em;
    }

    .footer__sec3 p {
        width: 85%;
        margin-top: 1.5em;
    }

    .icons i {
        margin-top: 1em;
    }

    .footer {
        height: auto;
    }

}

/* ---------------------------------------------------------------------------------------- */


@media screen and (min-width:1900px) and (max-width:2448px) {


    .main__sec4,
    .main__sec4 img {
        width: 70vw;
        margin: 0 7.5vw;
        height: 50vh;
    }

    .main__sec4__img-desc {
        left: 14em;
        top: 27em;
        width: 60vw;
    }

    .main__sec5 {
        margin-top: 4em;
        margin-left: 7vw;
        margin-right: 7vw;
        height: 40vh;
        margin-bottom: 2em;
    }

    .main__sec5__h2,
    .main__sec5 p {
        margin-left: 7.6vw;
    }

    .main__sec6__h2,
    .main__sec6__p {
        margin-left: 7.5vw;
    }

    .main__sec5__container {
        margin-right: 7.5vw;
        margin-left: 7.5vw;
    }

    .main__sec6__container {
        margin-right: 7.5vw;
        margin-left: 7.5vw;
    }

    .main__sec5-1 img,
    .main__sec6-1 img {
        width: 17vw;
        height: auto;
    }

    .main__sec5-2 {
        display: none;
    }

    .main__sec6 {
        margin-left: 7vw;
        margin-right: 7vw;

    }

    .main__sec6-1 h4,
    .main__sec6-1 h5,
    .main__sec6-1 p {
        width: 90%;

    }

    .main__sec6 {
        margin-left: 7vw;
        margin-right: 7vw;
    }

    .main__sec6-1 h4,
    .main__sec6-1 h5,
    .main__sec6-1 p {
        width: 90%;
    }

    .main__sec7 h2 {
        margin-left: 14.5vw;
    }

    .main__sec7-container {
        margin-left: 14.5vw;
        margin-right: 16vw;
    }

    .main__sec7-1 img {
        width: 23.2vw;
        height: auto;
    }

    .main__sec7 {
        height: 45vh;
    }


    .main__sec8 h1,
    .main__sec8 h2 {
        margin-left: 7vw;
    }

    .main__sec8 {
        margin-left: 7vw;
        margin-right: 7vw;
    }

    .main__sec8-container {
        margin-left: 7vw;
        margin-right: 7vw;
    }

    .main__sec8-1 img,
    .main__sec9-1 img,
    .main__sec10-1 img {
        width: 17.2vw;
        height: auto;
    }

    .main__sec8-1 h1 {
        margin-left: 0;
    }

    .main__sec9-2 {
        top: 12em;
    }

    .main__sec9 h2 {
        margin-left: 7vw;
    }

    .main__sec9,
    .main__sec9-container,
    .main__sec10,
    .main__sec10-container {
        margin-right: 7vw;
        margin-left: 7vw;
    }

    .main__sec10 h2,
    .main__sec10 p {
        margin-left: 7vw;
    }

    .main__sec10-2 {
        top: 12em;
    }

    .main__sec11 {
        margin-right: 15vw;
        margin-left: 14.2vw;
    }

    .main__sec11-2-2 {
        font-size: 20px;
        width: 35vh;
    }

    .main__sec12 {
        margin-right: 14vw;
        margin-left: 14.2vw;
    }

    .main__sec12-1 h3 {
        width: 30%;
    }

    .main__sec12-2 img {
        width: 15.6vw;
        height: 25vh;
    }

    .main__sec13-1 {
        margin-left: 14.2vw;
        margin-right: 7vw;
    }


    .footer__s1,
    .footer__sec2,
    .footer__sec3 {
        margin-right: 14vw;
        margin-left: 14vw;

    }

    .footer__sec3 {
        padding-bottom: 3em;
    }

    .footer__sec3 p {
        width: 85%;
        margin-top: 1.5em;
    }

    .icons i {
        margin-top: 1em;
    }

    .footer {
        height: auto;
    }

}


/* --------------------------------------------------------- */